<!-- Static navbar -->
      <nav class="navbar navbar-default correct-width" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">BitHound Election</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li id="navbar-home"><a href="/">Home</a></li>
              <li id="navbar-general"><a href="/election/general">General Info</a></li>
              <li id="navbar-map"><a href="/election/map">Election Map</a></li>
              <li id="navbar-random"><a href="/election/random">Random Stuff</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>