#nav-bar{
  margin-top:20px;
  margin-bottom:10px;
}

.clear{
  clear:both;
}
.centered{
  text-align:center;
}

.correct-width{
  width:90%;
  margin:0 auto;
  border-radius:15px;
  box-shadow:5px 5px 5px #888888;
}

.page-header{
  width:90%;
  background-color:#6b6b6b;
  color:white;
  border-radius: 15px;
  border:1px solid #6b6b6b;
  margin:0 auto;
  box-shadow:10px 10px 5px #888888;
  margin-top:10px;
}

.text-box{
  width:90%;
  background-color:#eee;
  color:#616161;
  padding-top:10px;
  padding-bottom: 25px;
  border-radius: 25px;
  margin:0 auto;
  box-shadow: 10px 10px 5px #888888;
}

.intro-text{
  font-size:16px;
  margin:15px;
}

.title-text{
  font-size:32px;
  text-align:center;
}

.general-info-text{
  font-size:25px;
  text-align:center;
}

#general-entrants-by-group{
  margin:0 auto;
}
  
.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis line{
  stroke:#eeeeee;
  stroke-opacity: .8;
}

.bar rect {
  fill: steelblue;
}

.bar text.value {
  fill: white;
}

.subunit :hover{
  fill: orange;
}

.subunit.Alberta{
  fill: #99ffcc;
}
.subunit.Saskatchewan{
  fill:#ff9933;
}
.subunit.Manitoba{
  fill:#FFFF00;
}
.subunit.Newfoundland{
  fill:#00cc00;
}
.subunit.Ontario{
  fill:#6666ff;
}
.subunit.Prince{
  fill:#00cccc;
}
.subunit.Nova{
  fill:#00ffff;
}
.subunit.Northwest{
  fill:#ffff99;
}
.subunit.Nunavut{
  fill:pink;
}
.subunit.New.Brunswick{
  fill:#9933ff;
}
.subunit.Yukon{
  fill:#A0a0a0;
}
.subunit.British{
  fill:#66ffff;
}
.subunit.Quebec{
  fill:#ffcce5;
}

.entrants-by-group-label{
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
}

#parliament-group{
  margin-left:30%;
}

#table-appendix{
  margin-left:38%;
}

#elected-appendix{
  float:left;
  margin-right:25px;
}

#not-elected-appendix{
  float:left;
}

#elected-box{
  background-color:pink;
  width:50px;
  height:20px;
  float:left;
  padding-top:15px;
  margin-right:5px;
}

#not-elected-box{
  background-color:lightblue;
  width:50px;
  height:20px;
  float:left;
  padding-top:15px;
  margin-right:5px;
}

.inline{
  display:inline-block;
  vertical-align: top;
}

.map-button{
 padding-top:10px;
}

table{
  width:100%;
  border-collapse: collapse;
}
td, th{
  border:solid 1px #999;
  padding:0.5em;
  text-align:left;
}

.elected{
  background-color:pink;
}

.not-elected{
  background-color:lightblue;
}

.table-title {
  font-size: 16px; 
  margin-top:15px;
  margin-left:20px; 
}

#explosion-container{
  width:90%;
  margin:0 auto;
}

#explosion-control-container{
  margin-left:36%;
}

#explosion-canvas{
  width:100%;
  height:600px;
}