{% extends '../layouts/default.html' %}

{% block main %}
  <h1 class="centered">{{ title }}</h1>


{% endblock %}

{% block content %}

  <div id="general-info" class="text-box">
    <div id="general-info-title" class="title-text"> 1867-08-07 to 2010-11-29 </div>
    <div class="general-info-text"> 40 Parliamentary Groups </div>
    <div class="general-info-text"> General Election Entrants: 36,613</div>
    <div class="general-info-text"> By-Election Entrants: 2,164</div>
    <div class="general-info-text"> Total Entrants: 38,777</div>


    <div id="general-entrants-by-group">
    </div>
    <div class="graph-label">
      Number of General Election Entrants by Parliamentary Group
    </div>

    <div id="byelection-entrants-by-group">
    </div>
    <div class="graph-label">
      Number of By-Election Entrants by Parliamentary Group
    </div>

    <hr/>

    <div id="entrant-occupations">
      <div id="entrant-ocuppations-title" class="title-text">Entrant Occupations</div>
      <div class="general-info-text"> 5150 Unique Occupations</div>
      <div class="general-info-text"> 2293 Entrants had no listed occupation</div>

      <div id="entrant-occupations-graph"> </div>
      <div class="graph-label">Top 10 Entrant Occupations</div>

    </div>
    <hr/>
    <div id="party-breakdown">
      <div class="title-text">Party Breakdown</div>
      <div class="general-info-text"> 135 Unique Political Parties</div>
      <div id="party-breakdown-graph"></div>
      <div class="graph-label">Parties with over 100 Entrants</div>
    </div>

  </div>

{% endblock %}

{% block customJS %}
<script src='/js/generalInfo.js'></script>
{% endblock %}