{% extends '../layouts/default.html' %}

{% block main %}
  <h1 class="centered">{{ title }}</h1>
{% endblock %}

{% block content %}
  <div class="text-box">
    <div id="map"></div>
    <div id="map-data">
      <div id="province-title" class="title-text">Click on a province to view its election data</div>
      <div id="parliament-group">
        <div id="parliament-group-prev-button" class="inline map-button"></div>
        <div id="parliament-group-title" class="title-text inline"></div>
        <div id="parliament-group-next-button" class="inline map-button"></div>
      </div>
      <div id="table-appendix"></div>
      <div class="clear"></div>
      <div id="parliament-title" class="table-title"></div>
      <div id="parliament-table"></div>
      <div id="by-election-title" class="table-title"></div>
      <div id="by-election-table"></div>

    </div>
  </div>


{% endblock %}

{% block customJS %}
<script src='/js/map.js'></script>
{% endblock %}