{% extends '../layouts/default.html' %}

{% block main %}
  <h1 class="centered">{{ title }}</h1>
{% endblock %}


{% block content %}
  <div id="stuff-container" class="text-box">
    <div id="explosion-container">
      <div id="explosion-title" class="title-text"> Explosions </div>
      <div id="explosion-control-container">
        <select id="explosion-province">
          <option value="Alberta">Alberta</option>
          <option value="British Columbia">British Columbia</option>
          <option value="Manitoba">Manitoba</option>
          <option value="New Brunswick">New Brunswick</option>
          <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
          <option value="Northwest Territories">Northwest Territories</option>
          <option value="Nova Scotia">Nova Scotia</option>
          <option value="Nunavut">Nunavut</option>
          <option value="Ontario">Ontario</option>
          <option value="Prince Edward Island">Prince Edward Island</option>
          <option value="Quebec">Quebec</option>
          <option value="Saskatchewan">Saskatchewan</option>
          <option value="Yukon">Yukon</option>
        </select>
        <button id="explosion-button">Explosions</button>
      </div>
      <canvas id="explosion-canvas">
      </canvas>
    </div>
    <hr/>
    <div id="game-container">
      <div id="game-title" class="title-text">Unoptimized Phaser Game</div>
      <div id="game-text"> 
        The controls are cursor keys to move and spacebar to shoot.<br/>
        See Home for my comments on this.
      </div>
      <div id="game-div"></div>
    </div>
  </div>
{% endblock %}

{% block customJS %}
<script src="/js/phaser.js"></script>

<script src="/js/game/enemy.js"></script>

<script src="/js/game/boot.js"></script>
<script src="/js/game/load.js"></script>
<script src="/js/game/menu.js"></script>
<script src="/js/game/levelselect.js"></script>
<script src="/js/game/play.js"></script>
<script src="/js/game/victory.js"></script>

<script src="/js/game/game.js"></script>

<script src='/js/randomStuff.js'></script>
{% endblock %}