  {% include '../includes/head.html' %}

  <body>
    {% include '../includes/header.html' %}
    <div class="container">
      <div class="page-header">
        {% block main %}{% endblock %}
      </div>
      <div id="nav-bar">
        {% include '../includes/navbar.html' %}
      </div>
      <div class="content">
        {% block content %}{% endblock %}
      </div>
    </div>
    {% include '../includes/footer.html' %}
    {% include '../includes/foot.html' %}
    {% block customJS %} {% endblock %}
  </body>
</html>